extends ../admin.layout.pug
include ../common/title

block content
    .admin
        .admin__title
            +title('title--center title--light', 'Страница администратора')
        .admin__grid
            .admin__item
            .admin__item
            .admin__item
            .admin__item
            .admin__item
            .admin__item
            .admin__item
            .admin__item
            .admin__item
            .admin__item