extends ../admin.layout.pug
include ../common/title
include ../common/one-field-form
include ../common/text-form

block content
    .admin
        .admin__title
            +title('title--center title--light', 'Страница администратора')
        .admin__grid
            .admin__item
                +one-field-form('Фото главного экрана', 'text', 'Значение, которое будет в переменной')
            .admin__item
                +one-field-form('Дата для таймера', 'date', '12,12,12')
            .admin__item
                +one-field-form('Email для заявок', 'email', 'example@example.ex')
            .admin__item
                +text-form('Привествиенный текст', 'Welcome!', 'The biggest envato community meetup in Bangladesh is happening right now! And you can be a part of it too...')
            .admin__item
            .admin__item
                +text-form('Промо текст', 'We reward the Elites!', 'Are you an Elite author in the Envato Marketplaces? If so we are proud of you! We want to give our thanks in achieving great success in the marketplace and we want to make known to the people of our country that you are amazing! Our Elite gifting program includes giving you special merchandize from our community and also promote your works in our community.')
            .admin__item
            .admin__item
            .admin__item