extends ../main.layout.pug
include ../common/speakers
include ../common/title
include ../common/big-button
include ../common/gallery

block content
    .description#description
        .description__warapper
            .description__left
                .description__top-left
                    +title('', welcomeText.title)
                include ../common/text 
                    div 
                        !=welcomeText.text
            .description__right
                include ../common/form
    .feauters
        .feauters__item
            +speakers('speakers__icon--community', 'Community', 'Meet the Community you’ve always talked with, in real life! This meetup will be all about authors engaging each other with interesting coversation and topics. We will have loads of fun.')
        .feauters__item
            +speakers('speakers__icon--talk-shop', 'Talk Shop', 'In this meetup you will get to know the marketplaces better, because that’s why were all here for right? Learn a few tips and tricks from experienced authors from all over the country.')
        .feauters__item
            +speakers('speakers__icon--war-stories', 'War Stories', 'Gather round fellow authors! Hear the stories of success from your favorite authors and learn how they we able to tackle their problems and become successful.')
    .table-section
        .table-section__top
            include ../common/table
        .table-section__bottom
            include ../common/text
                |Please keep in mind that the timings may differ according to the flow of the event. The even is actually day long and we do plan to finish it within our set time but it doesn’t have to be, if we all agree to hangour for some time more, what harm could it do? :)
    .reward-section
        .reward-section__wrapper
            .reward-section__top
                +title('title--light', promoText.title)
            .reward-section__center
                -mod = 'text--light';
                include ../common/text
                    !=promoText.text
            .reward-section__bottom
                a(href=`${promoText.link}`, target="blank").big-button Bring to swag
            .reward-section__left-top.mobile-hide
                include ../common/envato-elite
    .speakers-section#speakers
        .speakers-section__wrapper
            .speakers-section__top
                +title('', 'Speakers')
            .speakers-section__center
                -mod = ''
                include ../common/text
                    |Meet our Valuable speakers who will be each giving 10 minutes sessions on different subjects regarding being a digital product author, working at envato and marketing your business.
                    |Hope you will have a great time listening to our presentations!
            .speakers-section__grid
                .speakers-section__center-grid.tablet-hide.mobile-hide
                     include ../common/teammate-bage
                .speakers-section__border-grid  
                     include ../common/teammate
                .speakers-section__border-grid  
                     include ../common/teammate
                .speakers-section__border-grid  
                     include ../common/teammate
                .speakers-section__border-grid 
                     include ../common/teammate
                .speakers-section__border-grid  
                     include ../common/teammate
                .speakers-section__border-grid  
                     include ../common/teammate
                .speakers-section__border-grid  
                     include ../common/teammate
                .speakers-section__border-grid  
                     include ../common/teammate
    .sponsor-section#sponsor
        .sponsor-section__wrapper
           .sponsor-section__top 
                +title('title--light', 'Sponsor Our Event!')
           .sponsor-section__center-top
                -mod = 'text--light'
                include ../common/text
                    |Check out the photos of our previous events where we rocked with a lot of Famous and enthusiatic authors! We’re always planning to make our future events feel fresh and fun to be at. :)
           .sponsor-section__center-bottom
                include ../common/sponsors
           .sponsor-section__bottom 
                +big-button('', 'Sponsor Us')
    .gallery-section#gallery
        .gallery-section__top
            .gallery-section__top-top
                +title('', 'Past Events')
            .gallery-section__top-bottom
                -mod = ''
                include ../common/text
                |Check out the photos of our previous events where we rocked with a lot of Famous and enthusiatic authors! We’re always planning to make our future events feel fresh and fun to be at. :)
        .gallery-section__bottom
            +gallery(gallery)
    .contacts-section#contacts
        .contacts-section__background
            include ../common/map 
            .contacts-section__layer-label.hide.tablet-hide(data-role="address-swithcher")
                +big-button('big-button--black', 'View address')
        .contacts-section__content(data-role="switch-content")
            .contacts-section__wrapper
                .contacts-section__left
                    include ../common/address
                .contacts-section__right
                    include ../common/form-2
    .page-footer
        .page-footer__wrapper
            .page-footer__center
                .page-footer__center-top
                    include ../common/social-list
                    +social-list(['facebook', 'twitter', 'linkedin', 'google-plus', 'tumblr'], 'social-list--big social-list--center')
                .page-footer__center-bottom
                    include ../common/copyright
            .page-footer__right
                include ../common/to-top
        


