extends ../main.layout.pug

block content
    .test-grid
        .test-grid__item
            include ../common/logo
        .test-grid__item.test-grid__item--brown
            include ../common/menu
        .test-grid__item
            include ../common/title
                |Sponsor Our Event!
        .test-grid__item
            include ../common/text
                p The biggest envato community meetup in Bangladesh is happening right now! And you can be a part of it too...

                p Get together with members of the Envato community to talk shop, trade war stories, make new friends and see the faces behind the avatars. Whether you’re an author on Envato Market, a client on Envato Studio, or a learner on Tuts+, you are invited!

                p 
                    |It doesn’t matter as long as you have the motivation and interest to work at the envato and bring cookies to our event. Just kidding, but we don’t mind having more cookies! ;)
                    |Head over and fill up the sign up form here so that we can keep track of our guests. Don’t forget to register on our nvite page here too!
        .test-grid__item
            include ../common/form
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item