extends ../main.layout.pug

block content
    .test-grid
        .test-grid__item
            include ../common/logo
        .test-grid__item.test-grid__item--brown
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item