extends ../main.layout.pug

block content
    .test-grid
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item
        .test-grid__item