
mixin address(text)
   .address
      .address__text #{text}
      .address__bottom.tablet-hide.mobile-hide(data-role="map-swithcher")
         include ./big-button 
         +big-button('', 'view map')