form.form(action="/", method="get")
    .form__item
        .form__title Sign up for our event
    .form__item
        input.form__input(type="text" placeholder="Enter your name")
    .form__item
        input.form__input(type="text" placeholder="Enter your email")
    .form__item
        input.form__input(type="text" placeholder="Phone number")
    .form__item.form__item--last
        input.form__input(type="text" placeholder="Envato Username")
    .form__item
        button.form__submit-btn Let me in!
    .form__text 
        |Hurry up, Limited seats availble <br>
        |*we will never spam your email