include ../common/big-button

form.gallery-form.form(action="/")
    .gallery-form__grid
        .gallery-form__image-container
            +icon('More_icon', 'gallery-form__delete')
            img(src="assets/content/action-2277292_1920.jpg", alt="img")
        .gallery-form__image-container
            +icon('More_icon', 'gallery-form__delete')
            img(src="assets/content/beautiful-1274056_1920.jpg", alt="img")
        .gallery-form__image-container
            +icon('More_icon', 'gallery-form__delete')
            img(src="assets/content/beautiful-1274361_1920.jpg", alt="img")
        .gallery-form__image-container
            +icon('More_icon', 'gallery-form__delete')
            img(src="assets/content/entrepreneur-593358_1920.jpg", alt="img")
        .gallery-form__image-container
            +icon('More_icon', 'gallery-form__delete')
            img(src="assets/content/face-984031_1920.jpg", alt="img")
        .gallery-form__image-container
            +icon('More_icon', 'gallery-form__delete')
            img(src="assets/content/face-2936245_1920.jpg", alt="img")
        .gallery-form__image-container
            +icon('More_icon', 'gallery-form__delete')
            img(src="assets/content/guitarist-407212_1920.jpg", alt="img")
        .gallery-form__image-container
            +icon('More_icon', 'gallery-form__delete')
            img(src="assets/content/man-2037255_1920.jpg", alt="img")
        .gallery-form__image-container
            +icon('More_icon', 'gallery-form__delete')
            img(src="assets/content/woman-1149911_1920.jpg", alt="img")
        .gallery-form__image-container
            +icon('More_icon', 'gallery-form__delete')
            img(src="assets/content/workplace-1245776_1920.jpg", alt="img")
        .gallery-form__image-container
            +icon('More_icon', 'gallery-form__delete')
            img(src="assets/content/writer-1421099_1920.jpg", alt="img")
    .form__item
        .form__title Галлерея
    .form__item
        input.form__input(type="file" placeholder="Выбыирите изображение" )
    .form__item
        +big-button('', 'Загрузить', 'upload-image')