include ../common/big-button

mixin gallery-form(array)
    form.gallery-form.form(action="/")
        .form__item
            .form__title Галлерея
        .gallery-form__grid
            each image in array
                .gallery-form__image-container
                    .gallery-form__button(data-role="delete-image")
                        +icon('More_icon', 'gallery-form__delete')
                    img(src=`${image.src}`, alt="img")
        .form__item
            input.form__input(type="file" placeholder="Выбыирите изображение" )
        .form__item
            +big-button('', 'Загрузить', 'upload-image')