nav.menu
    ul.menu__list
        li.menu__item
            a.menu__link(href="#") EVENT DETAILS
        li.menu__item
            a.menu__link(href="#") SPEAKERS
        li.menu__item
            a.menu__link(href="#") SPONSORS
        li.menu__item
            a.menu__link(href="#") PAST EVENTS
        li.menu__item
            a.menu__link(href="#") CONTACT