include ../common/big-button

mixin one-field-form(name, type, value)
    form.one-field-form.form(action="/")
        .form__item
            .form__title= name
        .form__item
            input.form__input(type=`${type}` placeholder=`${name}`, value=`${value}` )
        .form__item
            +big-button('', 'Сохранить')

