ul.social-list
    li.social-list__item
        a.social-list__link(href="/")
            +icon('facebook-icon', 'social-list__icon social-list__icon--facebook')
    li.social-list__item
        a.social-list__link(href="/")
            +icon('twitter-icon', 'social-list__icon social-list__icon--twitter')
    li.social-list__item
        a.social-list__link(href="/")
            +icon('behance-icon', 'social-list__icon social-list__icon--behance')
    li.social-list__item
        a.social-list__link(href="/")
            +icon('dribbble-icon', 'social-list__icon social-list__icon--dribbble')