mixin social-list(icons, mod)
    ul(class=`social-list ${mod}`)
        each item in icons
            li.social-list__item
                a.social-list__link(href="/")
                    +icon(`${item}-icon`, `social-list__icon social-list__icon--${item}`)