.speakers
    .speakers__icon
    h3.speakers__title Community
    include ./text
        |Meet the Community you’ve always talked with, in real life! This meetup will be all about authors engaging each other with interesting coversation
        |and topics. We will have loads of fun.