.sponsors
    .sponsors__item
        img(src="assets/images/mounteen.png", alt="mounteen")
    .sponsors__item
        img(src="assets/images/Color_Overlay.svg", alt="Color_Overlay")
    .sponsors__item
        img(src="assets/images/logo.svg", alt="logo")