.table
    .table__header
        .table__row.table__row--header
            .table__cell-title.table__cell-left Time
            .table__cell-title.table__cell-center Stuff that will happen
            .table__cell-title.table__cell-right
    .table__body
        .table__row
            .table__cell-content.table__cell-left 10am - 12pm
            .table__cell-content.table__cell-center Introduction and presentations about Envato
            .table__cell-content.table__cell-right 
                +icon('More_icon', 'table__plus-icon')
        .table__row
            .table__cell-content.table__cell-left 12pm - 02pm
            .table__cell-content.table__cell-center Sessions by honorable guests and Speakers
            .table__cell-content.table__cell-right
                +icon('More_icon', 'table__plus-icon')
        .table__row
            .table__cell-content.table__cell-left 02pm - 03pm
            .table__cell-content.table__cell-center Break and Mingle time with the authors
            .table__cell-content.table__cell-right 
                +icon('More_icon', 'table__plus-icon')
        .table__row
            .table__cell-content.table__cell-left 03pm - 05pm
            .table__cell-content.table__cell-center Portfolio Review, Rewards and Ending Presentation
            .table__cell-content.table__cell-right 
                +icon('More_icon', 'table__plus-icon')