
mixin table(array)
    .table
        .table__header.mobile-hide
            .table__row.table__row--header
                .table__cell-title.table__cell-left Time
                .table__cell-title.table__cell-center Stuff that will happen
                .table__cell-title.table__cell-right
        .table__body
            each event in array
                .table__row
                    .table__cell-title.table__cell-left.tablet-hide.laptop-hide.desctop-hide Time
                    .table__cell-content.table__cell-left #{event.time}
                    .table__cell-title.table__cell-center.tablet-hide.laptop-hide.desctop-hide Stuff that will happen
                    .table__cell-content.table__cell-center #{event.name}
                    .table__cell-content.table__cell-right 
                        +icon('More_icon', 'table__plus-icon')