mixin teammate(object)
    .teammate(style=`background-image: url(${object.photo});`)
        .teammate__content
            .teammate__title #{object.name}
            .teammate__text #{object.description}
            .teammate__social-list
                include ./social-list
                +social-list(object.social, '')