mixin timer(final)
    .timer(data-role="timer", data-final=`${final}`)
        .timer__item
            .timer__container
                .timer__count(data-days)
                .timer__count-name DAYS
        .timer__item
            .timer__container
                .timer__count(data-hours)
                .timer__count-name HOURS
        .timer__item
            .timer__container
                .timer__count(data-minutes)
                .timer__count-name MINUTES
        .timer__item
            .timer__container
                .timer__count(data-seconds)
                .timer__count-name SECONDS
