.timer
    .timer__item
        .timer__container
            .timer__count#days 
            .timer__count-name DAYS
    .timer__item
        .timer__container
            .timer__count#hours
            .timer__count-name HOURS
    .timer__item
        .timer__container
            .timer__count#minutes
            .timer__count-name MINUTES
    .timer__item
        .timer__container
            .timer__count#seconds
            .timer__count-name SECONDS
