-var title = 'index';

-
    var header = {
        "mainBackgorund" : "assets/content/workplace-1245776_1920.jpg",
        "timerYear" : 2019,
        "timersMounth": 7,
        "timerDays": 2,
        "emailForRegistration": "pavel.alpinweb@yandex.ru"
    };

    var welcomeText = {
        "title": "Welcome!",
        "text": "<p>The biggest envato community meetup in Bangladesh is happening right now! And you can be a part of it too...</p><p>Get together with members of the Envato community to talk shop, trade war stories, make new friends and see the faces behind the avatars. Whether you’re an author on Envato Market, a client on Envato Studio, or a learner on Tuts+, you are invited!</p><p>It doesn’t matter as long as you have the motivation and interest to work at the envato and bring cookies to our event. Just kidding, but we don’t mind having more cookies! ;)Head over and fill up the sign up form here so that we can keep track of our guests. Don’t forget to register on our nvite page here too!</p>"
    };

    var promoText = {
        "title": "We reward the Elites!",
        "text": "<p>Are you an Elite author in the Envato Marketplaces? If so we are proud of you! We want to give our thanks in achieving great success in the marketplace and we want to make known to the people of our country that you are amazing! Our Elite gifting program includes giving you special merchandize from our community and also promote your works in our community.</p><p>All you have to do is contact us by clicking the button here and then its just going to the event, saying something motivational and taking that swag while looking amazing infront of thousands of other community members.</p><p>*Be advised, we will only give you Elite thank you swag for each level of elite you cross. That means if you do not cross to the next elite level before the next event, you cannot claim your prizes.</p>",
        "link": "http://google.com"
    };

    var gallery = [
        {
            "src": "assets/content/action-2277292_1920.jpg"
        },
        {
            "src": "assets/content/beautiful-1274056_1920.jpg"
        },
        {
            "src": "assets/content/beautiful-1274361_1920.jpg"
        },
        {
            "src": "assets/content/entrepreneur-593358_1920.jpg"
        },
        {
            "src": "assets/content/face-984031_1920.jpg"
        },
        {
            "src": "assets/content/face-2936245_1920.jpg"
        },
        {
            "src": "assets/content/guitarist-407212_1920.jpg"
        },
        {
            "src": "assets/content/man-2037255_1920.jpg"
        },
        {
            "src": "assets/content/woman-1149911_1920.jpg"
        },
        {
            "src": "assets/content/workplace-1245776_1920.jpg"
        },
        {
            "src": "assets/content/writer-1421099_1920.jpg"
        },
    ];