include ./common/mixins
include ./common/vars

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    
    title #{title}
    link(rel='stylesheet' href='assets/styles/main.min.css')
  body
    header.page-header(style=`background-image:url(${mainBackgorund});`)
      .page-header__content
        .page-header__wrapper
          .page-header-top
            .page-header__left-top
              include ./common/logo
            .page-header__right-top
              include ./common/menu
              include ./common/btn-menu
          .page-header__center
            include ./common/timer
            +timer(header.timerYear, header.timerMounth, header.timerDays)
    main.maincontent
      block content
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js")
    script(src="assets/scripts/main.bundle.js")