body, html {
    height: 100%;
  }
  
  body {
    font-family: $mainFont;
    font-size: $textSize;
    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .maincontent{
    height: 100%;
  }
  
  .wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;
  }
  
  .container {
    margin: 0 auto;
    width: 95%;
  }
  
  button {
    border: 0;
    cursor: pointer;
  }
  
  * {
    box-sizing: border-box;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
  }
  
  p {
    margin: 0;
    padding: 0;
  }

  img{
    max-width: 100%;
    height: auto;
  }

  .hide{
    display: none!important;
  }

  .tablet-hide{
    @media screen and (min-width:768px) and (max-width:1023.5px){
      display: none!important;
    }
  }

  .laptop-hide{
    @media screen and (min-width:1024px) and (max-width:1364.5px){
      display: none!important;
    }
  }

  .desctop-hide{
    @media screen and (min-width:1365px){
      display: none!important;
    }
  }