form.form-2(action="/", method="post")
    .form-2__item
        input.form-2__input(type="email", placeholder="Enter your email")
    .form-2__item
        textarea.form-2__textarea(placeholder="Type your message")
    .form-2__item
        button.form-2__submit Send Message
