form.form(action="/signupMail", method="post", data-role="signup-email-form")
    .form__item
        .form__title Sign up for our event
    .form__item
        input.form__input(type="text", placeholder="Enter your name", name="name", required)
    .form__item
        input.form__input(type="email", placeholder="Enter your email", name="email", required)
    .form__item
        input.form__input(type="text", placeholder="Phone number", name="phone", required)
    .form__item.form__item--last
        input.form__input(type="text", placeholder="Envato Username", name="username")
    .form__item
        button.form__submit-btn(data-role="send-signUp-mail") Let me in!
    .form__text 
        |Hurry up, Limited seats availble <br>
        |*we will never spam your email