include ../common/big-button
include ../common/add-button

mixin gallery-form(array)
    form.gallery-form.form(action="/")
        .form__item
            .form__title Галлерея
        .form__item
            .gallery-form__grid(data-role="gallery-form-container")
                each image in array
                    .gallery-form__image-container(data-role="image-container", id=`${image.id}`)
                        .gallery-form__button(data-role="delete-image", data-id=`${image.id}`)
                            +icon('More_icon', 'gallery-form__delete')
                        img(src=`${image.src}`, alt="img")
        .form__item
            input.form__input.hide(type="file", placeholder="Выбыирите изображение", data-role="gallery-file-input")
            +add-button('add-gallery-file','Выберите изображение')
        .form__item
            +big-button('', 'Загрузить', 'upload-image')
        .form__item(data-role="preview-container")
        