form.form(action="/login", method="post")
    .form__item
        .form__title Sign up
    .form__item
        input.form__input(type="text", placeholder="Enter your login", name="login")
    .form__item
        input.form__input(type="password", placeholder="Enter your password", name="password")
    .form__item
        button.form__submit-btn Enter!
    .form__text.form__text--red