
nav.menu(data-role="menu")
    ul.menu__list
        li.menu__item
            a.menu__link(href="#" data-role="fancy-scroll" data-slide="#description") EVENT DETAILS
        li.menu__item
            a.menu__link(href="#" data-role="fancy-scroll" data-slide="#speakers") SPEAKERS
        li.menu__item
            a.menu__link(href="#" data-role="fancy-scroll" data-slide="#sponsor") SPONSORS
        li.menu__item
            a.menu__link(href="#" data-role="fancy-scroll" data-slide="#gallery") PAST EVENTS
        li.menu__item
            a.menu__link(href="#" data-role="fancy-scroll" data-slide="#contacts") CONTACT
        li.menu__item
            a.menu__link(href="/login") admin
    .menu__close.laptop-hide.desctop-hide(data-role="close-menu")
        +icon('arrow', 'to-top__icon')