include ../common/big-button
include ../common/mixins
include ../common/social-input

mixin speakers-form(array)
    form.speakers-form(action="/")
        .table(data-role="speakers-form")
            .table__header.mobile-hide
                .table__row.table__row--header.table__row--header-large
                    .table__cell-title.table__cell-middle Имя
                    .table__cell-title.table__cell-middle Описание
                    .table__cell-title.table__cell-middle Фото
                    .table__cell-title.table__cell-middle Соц.сети
                    .table__cell-title.table__cell-mini 
            .table__body(data-role="form-body")
                each speaker in array
                    .table__row.table__row--auto-height(data-role="form-row")
                        .table__cell-content.table__cell-middle 
                            input.form-2__input(type="text", placeholder="Имя", value=`${speaker.name}`, data-input="name")
                        .table__cell-content.table__cell-middle 
                            input.form-2__input(type="text", placeholder="Описание", value=`${speaker.description}`, data-input="description")
                        .table__cell-content.table__cell-middle 
                            .speakers-form__image
                                img(src=`${speaker.photo}`, alt="img")
                            input.form-2__input(type="file", placeholder="Фото спикера", data-input="photo")
                        .table__cell-content.table__cell-middle 
                            each item in speaker.social
                                +social-input(item.name, item.link, item.empty, '')
                        .table__cell-content.table__cell-mini.speakers-form__speaker-control
                            .speakers-form__container
                                +big-button('big-button--red', 'Удалить', 'remove-table-row')
                            .speakers-form__container
                                +big-button('', 'Сохранить', 'save-speaker')
        .speakers-form__control
            +big-button('', 'Сохранить', 'save-new-speaker')
            +big-button('', 'Добавить', 'add-table-row-speakers')