mixin speakers(mod, title, content)
    .speakers
        div(class=`speakers__icon ${mod}`)
        h3.speakers__title= title
        - mod = '';
        include ./text
            p= content
            
            