.admin__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-top: 5px;
}

.admin__title{
    padding: 20px 0;
    background-color: $mainBgColor;
    width: 100%;
}

.admin__item{
    background: #fff;
    background-color: $mainBgColor;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
    &:nth-of-type(5){
        grid-column: span 2;
    }
    &:nth-of-type(9){
        grid-column: span 3;
    }
}