.description{
    width: 100%;
    background-color: #fff;
    padding-top: 30px;
}

.description__warapper{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:1364.5px){
        padding: 0 30px;
    }
}

.description__left{
    width: 100%;
    max-width: 530px;
    @media screen and (max-width:1364.5px){
        max-width: 500px;
    }
    @media screen and (max-width:1023.5px){
        max-width: 46vw;
    }
}

.description__right{
    width: 100%;
    max-width: 431px;
    margin-top: -264px;
    position: relative;
    z-index: 3;
    @media screen and (max-width:1023.5px){
        max-width: 46vw;
        margin-top: 0;
    }
}

.description__top-left{
    margin-bottom: 25px;
}