.feauters{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 125px 0px 77px;
    @media screen and (max-width:1364.5px){
        padding: 125px 30px 77px;
    }
    @media screen and (max-width:1023.5px){
        padding: 30px;
    }
    @media screen and (max-width:767.5px){
        flex-direction: column;
    }
}

.feauters__item{
    width: 100%;
    max-width: 302px;
    @media screen and (max-width:1023.5px){
        max-width: 32%;
    }
    @media screen and (max-width:767.5px){
        max-width: 100%;
    }
}