.feaiters{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 125px 10px 77px;
}

.feaiters__item{
    width: 100%;
    max-width: 302px;
}