.gallery-section{
    padding: 100px 0 100px;
    @media screen and (max-width:1023.5px){
        padding: 0;
    }
}

.gallery-section__top{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 88px;
    padding: 0 30px;
}

.gallery-section__top-top{
    margin-bottom: 20px;
}

.gallery-section__top-bottom{
    max-width: 608px;
}

.gallery-section__bottom{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    @media screen and (max-width:1364.5px){
        padding: 0 30px;
    }
}