.login-page{
    background-position: top center;
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
}

.login-page__container{
    width: 100%;
    max-width: 430px;
    margin: auto;
}