.page-header{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    &:after{
        content: '';
        display: block;
        width: 711px;
        height: 200px;
        position: absolute;
        left: 118px;
        right: 0;
        bottom:10px;
        z-index: 1;
        background: svg-load('header-decor.svg') no-repeat center;
        @media screen and (max-width:1364.5px){
            left: 30px;
            width: 570px;
            background-size: contain;
        }
        @media screen and (max-width:767.5px){
            display:none;
        }
    }
    &:before{
        content: '';
        display: block;
        width: 100%;
        height: 125px;
        position: absolute;
        left: 0;
        right: 0;
        bottom:0;
        z-index: 2;
        background: linear-gradient(176.3deg,  transparent 50%, #fff 50%);
        @media screen and (max-width:767.5px){
            background: linear-gradient(167.3deg,  transparent 50%, #fff 50%);
        }
    }
}

.page-header__content{
    width: 100%;
    height: 100%;
    background-color: rgba($mainBgColor, 0.85);
}

.page-header__wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    @media screen and (max-width:1364.5px){
        padding: 0 30px;
    }
}

.page-header-top{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 50px;
    align-self: flex-start;
}

.page-header__left-top{
    margin-right: auto;
}

.page-header__right-top{
    margin-left: auto;
}

.page-header__center{
    width: 100%;
    max-width: 972px;
    margin: -100px auto 0;
    @media screen and (max-width:767.5px){
        width: auto;
    }
}