.reward-section{
    background: $mainBgColor url('../images/nagrada.jpg') no-repeat center fixed;
    background-size: cover;
    padding: 161px 0 193px;
    position: relative;
    &:before{
        content: '';
        display: block;
        width: 100%;
        height: 125px;
        position: absolute;
        left: 0;
        right: 0;
        bottom:0;
        z-index: 2;
        background: linear-gradient(176.3deg,  transparent 50%, #fff 50%);
    }
    &:after{
        content: '';
        display: block;
        width: 100%;
        height: 125px;
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        z-index: 2;
        background: linear-gradient(-3.7deg,  transparent 50%, #fff 50%);
    }
    @media screen and (max-width:1023.5px){
        padding: 100px 0 120px;
    }
}

.reward-section__wrapper{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    @media screen and (max-width:1364.5px){
        padding: 0 30px;
    }
    @media screen and (max-width:767.5px){
        text-align: left;
    }
}

.reward-section__top{
    margin-bottom: 22px;
    @media screen and (max-width:1023.5px){
        max-width: 65vw;
        margin-left: auto;
    }
    @media screen and (max-width:767.5px){
        max-width: 100vw;
        margin-bottom: 10px;
    }
}

.reward-section__center{
    margin-bottom: 38px;
    width: 100%;
    max-width: 670px;
    margin-left: auto;
    @media screen and (max-width:1023.5px){
        max-width: 60vw;
    }
    @media screen and (max-width:767.5px){
        max-width: 100vw;
    }
}

.reward-section__left-top{
    width: 354px;
    height: 357px;
    position: absolute;
    left:0;
    top:-235px;
    z-index: 3;
    @media screen and (max-width:1364.5px){
        width: 254px;
        height: 257px;
        left: 30px;
        top: -118px;
    }
    @media screen and (max-width:1023.5px){
        width: 240px;
        height: 240px;
    }
}