.speakers-section{
    padding: 132px 0 179px;
    @media screen and (max-width:1023.5px){
        padding: 0;
    }
}

.speakers-section__wrapper{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 30px;
}

.speakers-section__top{
    margin-bottom: 21px;
}

.speakers-section__center{
    margin-bottom: 65px;
    max-width: 600px;
}

.speakers-section__grid{
    display: grid;
    grid-template-columns: 296px 296px 296px;
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 45px;
    @media screen and (max-width:1023.5px){
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width:767.5px){
        grid-column-gap: 0;
        grid-template-columns: 100%;
    }
}

.speakers-section__border-grid{
    border-radius: 15px;
    background-color: $accentColor;
    height: 296px;
    @media screen and (max-width:767.5px){
        min-height: 296px;
        height: 100%;
    }
}