.table-section{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 139px;
    @media screen and (max-width:1364.5px){
        padding: 0 30px;
    }
}

.table-section__top{
    margin-bottom: 40px;
}

.table-section__bottom{
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
}