.test-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.test-grid__item{
    border:1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E7E7;
    padding: 15px;
}

.test-grid__item--brown{
    background-color: $mainBgColor;
}