@font-face {
    font-family: "myfont";
    src: url('../fonts/myfont.eot');
    src: url('../fonts/myfont.eot?#iefix') format('eot'),
        url('../fonts/myfont.woff2') format('woff2'),
        url('../fonts/myfont.woff') format('woff'),
        url('../fonts/myfont.ttf') format('truetype'),
        url('../fonts/myfont.svg#myfont') format('svg');
}

.myfont:before {
    font-family: "myfont";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
    text-decoration: none;
    text-transform: none;
}


.myfont-github:before {
    content: "\EA01";
}

.myfont-Scorenga-footer:before {
    content: "\EA02";
}

.myfont-Scorenga:before {
    content: "\EA03";
}