.add-button{
    height: 55px;
    line-height: 55px;
    border-radius: 15px;
    background-color: $accentColor;
    padding: 0 28px;
    color: rgb(255, 255, 255);
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 400;
    transition: all .3s;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    .table__plus-icon{
        margin-right: 10px;
    }
    &:hover{
        background-color: #ffce13;
    }
}

.big-button--black{
    background-color: rgb(55, 55, 55);
}