.address{
    text-align: center;
    &:before{
        content:'';
        display: inline-block;
        width: 132px;
        height: 140px;
        background: svg-load('../images/bage-ilustr.svg') no-repeat center;
        margin-bottom: 42px;
    }
}

.address__text{
    color: rgb(69, 68, 68);
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.6px;
    margin-bottom: 30px;
}