.big-button{
    height: 55px;
    line-height: 55px;
    border-radius: 15px;
    background-color: $accentColor;
    padding: 0 28px;
    color: rgb(255, 255, 255);
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 400;
    transition: all .3s;
    display: inline-block;
    text-decoration: none;
    &:hover{
        background-color: #ffce13;
    }
}

.big-button--black{
    background-color: rgb(55, 55, 55);
}

.big-button--red{
    background-color: red;
}