.logo__subtitle{
    color: rgb(130, 181, 65);
    font-family: $accentFont;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.39px;
    padding-left: 39px;
}