.menu__list{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.menu__item{
    margin-right: 45px;
    &:last-of-type{
        margin-right: 0;
    }
}

.menu__link{
    color: rgb(255, 255, 255);
    font-family: $mainFont;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s;
    line-height: 18px;
    &:hover{
        color: $accentColor;
    }
}