.menu{
    @media screen and (max-width:1023.5px){
        position: fixed;
        top:-100vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 5;
        background-color: rgba(144, 210, 61, 0.9);
        transition: top .3s;
    }
}

.menu--open{
    @media screen and (max-width:1023.5px){
        top:0;
    }
}

.menu__list{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    @media screen and (max-width:1023.5px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
    }
}

.menu__item{
    margin-right: 45px;
    &:last-of-type{
        margin-right: 0;
    }
    @media screen and (max-width:1023.5px){
        margin: 0 0 30px;
    }
}

.menu__link{
    color: rgb(255, 255, 255);
    font-family: $mainFont;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s;
    line-height: 18px;
    &:hover{
        color: $accentColor;
    }
    @media screen and (max-width:1023.5px){
        font-size: 35px;
        font-weight: bold;
    }
}

.menu__close{
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -15px;
    cursor: pointer;
}