.social-input{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &.is-active{
        .speaker-form__social-label{
            .social-list__icon{
                fill:#ffce13;
            }
        }
    }
}

.social-input--dark{
    .social-list__icon{
        fill: $mainBgColor;
    }
}

.speaker-form__social-label{
    cursor: pointer;
    margin-right: 5px;
}