.speakers{
    width: 100%;
    text-align: center;
}

.speakers__icon{
    width: 198px;
    height: 211px;
    background: svg-load('speaker-1.svg') no-repeat center;
    margin: 0 auto 30px;
}

.speakers__title{
    color: $textColor;
    font-family: $mainFont;
    font-size: 35px;
    font-weight: 900;
    line-height: 42px;
    margin-bottom: 15px;
}