.speakers-form{
    width: 100%;
}

.speakers-form__control{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.speakers-form__speaker-control{
    display: flex;
    flex-direction: column;
}

.speakers-form__container{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}