.title{
    color: $textColor;
    font-family: $mainFont;
    font-size: $titleFontSize;
    font-weight: 900;
    line-height: 60px;
    @media screen and (max-width:767.5px){
        font-size: 30px;
    }
}

.title--light{
    color: rgb(255, 255, 255);
}